flows (2).json
[{"id":"49834bbf.6158c4","type":"tab","label":"IBMIOT_UI","disabled":false,"info":""},{"id":"4eb25f23.e71f9","type":"debug","z":"49834bbf.6158c4","name":"IBM o/p","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":100,"wires":[]},{"id":"ea9251cc.46254","type":"ibmiot in","z":"49834bbf.6158c4","authentication":"apiKey","apiKey":"6e8b9322.357a0c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"nodemcu","applicationId":"","deviceType":"iotdevice2","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":100,"wires":[["4eb25f23.e71f9","182a69fa.e04f96","218989e3.6f0bb6","b232e1d.3607f2"]]},{"id":"182a69fa.e04f96","type":"function","z":"49834bbf.6158c4","name":"temp","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["4eb25f23.e71f9","d83d869c.7533a8"]]},{"id":"d83d869c.7533a8","type":"ui_gauge","z":"49834bbf.6158c4","name":"temperature","group":"5ed3e8c8.5f7b78","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":180,"wires":[]},{"id":"218989e3.6f0bb6","type":"function","z":"49834bbf.6158c4","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["4eb25f23.e71f9","9cf67011.019f6"]]},{"id":"b232e1d.3607f2","type":"function","z":"49834bbf.6158c4","name":"soil_temp","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["6c4eb687.3acbc8","4eb25f23.e71f9"]]},{"id":"6c4eb687.3acbc8","type":"ui_gauge","z":"49834bbf.6158c4","name":"soil_moisture","group":"a95bfde8.18465","order":2,"width":0,"height":0,"gtype":"gage","title":"soil_moisture","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":40,"wires":[]},{"id":"9cf67011.019f6","type":"ui_gauge","z":"49834bbf.6158c4","name":"humidity","group":"bfafa6c6.737378","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":260,"wires":[]},{"id":"d3c2d4ec.8baa48","type":"ibmiot out","z":"49834bbf.6158c4","authentication":"apiKey","apiKey":"6e8b9322.357a0c","outputType":"cmd","deviceId":"nodemcu","deviceType":"iotdevice2","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":340,"y":440,"wires":[]},{"id":"d7ee014c.76b56","type":"ui_button","z":"49834bbf.6158c4","name":"","group":"1e17e77c.32b279","order":1,"width":0,"height":0,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":160,"y":400,"wires":[["d3c2d4ec.8baa48"]]},{"id":"261ef3a9.75f80c","type":"ui_button","z":"49834bbf.6158c4","name":"","group":"1e17e77c.32b279","order":2,"width":0,"height":0,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":140,"y":480,"wires":[["d3c2d4ec.8baa48"]]},{"id":"34d8214a.a8821e","type":"http request","z":"49834bbf.6158c4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Warangal,IN&APPID=84549685459487d91702edb368e9b744","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":320,"wires":[["ad5c64f1.009bb8","fb2291aa.c7d9f","eb2f6740.b516d8"]]},{"id":"2b5162d5.34469e","type":"inject","z":"49834bbf.6158c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":190,"y":260,"wires":[["34d8214a.a8821e"]]},{"id":"14f3215e.ef73df","type":"ui_text","z":"49834bbf.6158c4","group":"bb17d0d1.495b3","order":1,"width":0,"height":0,"name":"humidity","label":"humidity ","format":"{{msg.payload}}","layout":"col-center","x":740,"y":340,"wires":[]},{"id":"b5b7596c.6613a8","type":"ui_text","z":"49834bbf.6158c4","group":"6bf03562.57aa5c","order":1,"width":0,"height":0,"name":"temperature","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":420,"wires":[]},{"id":"fb2291aa.c7d9f","type":"function","z":"49834bbf.6158c4","name":"API-temperature","func":"msg.payload=msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["b5b7596c.6613a8"]]},{"id":"ad5c64f1.009bb8","type":"function","z":"49834bbf.6158c4","name":"API-humidity","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[["14f3215e.ef73df"]]},{"id":"eb2f6740.b516d8","type":"debug","z":"49834bbf.6158c4","name":"api output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":380,"wires":[]},{"id":"6e8b9322.357a0c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5ed3e8c8.5f7b78","type":"ui_group","z":"","name":"Smat Agriculture Temperature","tab":"9041dc1c.2e59b","order":5,"disp":true,"width":"8","collapse":false},{"id":"a95bfde8.18465","type":"ui_group","z":"","name":"Smart Agriculture soil_moisture","tab":"9041dc1c.2e59b","order":6,"disp":true,"width":"6","collapse":false},{"id":"bfafa6c6.737378","type":"ui_group","z":"","name":"Smart Agriculture Humidity","tab":"9041dc1c.2e59b","order":7,"disp":true,"width":"6","collapse":false},{"id":"1e17e77c.32b279","type":"ui_group","z":"","name":"motor commands","tab":"9041dc1c.2e59b","order":3,"disp":true,"width":"8","collapse":true},{"id":"bb17d0d1.495b3","type":"ui_group","z":"","name":"Smart Agriculture API- humidity","tab":"9041dc1c.2e59b","order":4,"disp":true,"width":"6","collapse":false},{"id":"6bf03562.57aa5c","type":"ui_group","z":"","name":"Smart Agriculture API-temperature","tab":"9041dc1c.2e59b","order":1,"disp":true,"width":"8","collapse":false},{"id":"9041dc1c.2e59b","type":"ui_tab","z":"","name":"IOT","icon":"dashboard","disabled":false,"hidden":false}]